.selected-card {
    position: relative;
    z-index: 1;
    overflow: initial;
    &::after {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        border-radius: 0.25rem;
        border: 3px solid var(--color-primary);
        border-color: transparent;
        background: linear-gradient(var(--color-background), var(--color-background)) padding-box,
            linear-gradient(90deg, var(--color-secondary) 50%, var(--color-primary) 100.33%) border-box;
        z-index: -1;
    }
}
